# Dataset Kelenjar Getah bening
Vania Vidya Vimala / 0706022010013

## Data Preparation
Dataset : https://raw.githubusercontent.com/vanyavidyavimala/Vania-Vidya-Vimala_ALP_0706022010013/main/Dataset_Terapi_Kelenjar_Getah_Bening.csv

In [1]:
# Import Dataset
import pandas as pd
url ='https://raw.githubusercontent.com/vanyavidyavimala/Vania-Vidya-Vimala_ALP_0706022010013/main/Dataset_Terapi_Kelenjar_Getah_Bening.csv'
df = pd.read_csv(url)
df

,gender,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,1,15,11.00,6.0,1.0,30,25.0,0
1,1,27,11.75,NaN,1.0,208,6.0,0
2,1,32,12.00,9.0,1.0,43,50.0,0
3,1,33,1.75,7.0,2.0,379,7.0,0
4,1,34,5.00,7.0,3.0,64,7.0,0
...,...,...,...,...,...,...,...,...
85,2,51,4.00,1.0,1.0,65,7.0,1
86,2,51,6.00,6.0,NaN,80,2.0,1
87,2,52,2.25,5.0,1.0,63,7.0,1
88,2,53,10.00,1.0,2.0,30,25.0,1
89,2,53,7.25,6.0,NaN,81,7.0,1